*{
    margin:0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    font-size: 1em;
}
header{
    border-bottom: 79px solid white;
}
img{
    max-width: 100%;
    height: auto;
    width: auto\9;
}
#place{
    width: 1404px;
    height: 801px;
    
}
#object_1{
    float:left;
    width: 71.5px;
    height: 801px;
    background-color: rgba(0, 0, 0, 0.7);
}
#object_2{
    float:left;
    width: 261.5px;
    height: 801px;
    background-color: rgba(37, 39, 42, 0.75);
}
#object_3{
    float:left;
    width: 870px;
    height: 800px;
    background-color: white;
}
#object_4{
    float:left;
    width: 201px;
    height: 801px;
    background-color: rgba(255, 255, 255, 0.8);
}
.dotes{
    margin-top: 10.5px;
    margin-left: 9.5px;
}
.dotes_2{
    width: 52px;
    height: 12px;
}
.container_1 {
    margin: 20px 0 0 15.5px;
}
.container_2 {
    margin: 19px 0 0 15px;
}
#form_1{
    width: 41px;
    height: 42px;
    border-radius: 21px;
    background: #E25A5A;
    opacity: 0.16;
}
#form_2{
    width: 41.5px;
    height: 41.5px;
    border-radius: 20.75px;
    background: #EA4C89;
    opacity: 0.16;
}
#form_3{
    width: 41.5px;
    height: 41.5px;
    border-radius: 20.75px;
    background: #127ABD;
    opacity: 0.16;
}
.style_1{
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 35.5px 0 0 26px;
}
.style_2{
    color: #B5B5B5;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin: 30px 0 0 51px;
}
.style_3{
    color: #919191;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    margin: 32px 0 18px 24.5px;
}
.style_3_2{
    color: #919191;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    margin: 17.5px 0 18px 25px;
}
.style_4{
    color: white;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin-left: 35px;
}
.vniz{
    margin-top: 12px;   
}
.style_5{
    color: #B5B5B5;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin-left: 35px;
}
.status{
    float: left;
    width: 8px;
    height: 7px;
    border-radius: 4px;
    margin-top: 13.5px;
    margin-left: 22px;
    margin-bottom: 13.5px;
}
.photo{
    float: left; 
    margin-left: 6px;
    width: 34px;
    height: 34px; 
    border-radius: 5px; 
}
.name{
    float: left;
    font-size: 14px;
    color: #B5B5B5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 8.5px;
    margin-left: 11.5px;
    margin-bottom: 8.5px;
}
.style_6{
    float:left;
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin: 35px 5.5px 0 23.5px;
}
.style_7{
    float:left;
    color: #A4A4A4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin: 39px 24px 0 0;
}
#form_4 {
    float:left;
    width: 241px;
    height: 33px;
    margin: 31.5px 23px 0 0;
    border: 0.5px solid rgba(0, 0, 0, 0.24);
    border-radius: 4px;
}
.style_9 {
    float: left;
    color: #8D8D8D;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 16.8px;
}
#place_2{
    height:647.5px; 
    width: 870px;
    overflow-y:hidden;
}
#three_dotes{
    float: left;
    width: 4.5px;
    height: 16.5px;
    margin-top: 39.5px;
}
.dote_0{
    width: 4.5px;
    height: 4.5px;
    border-radius: 2.25px;
    background-color: rgba(0, 0, 0, 0.2);
    float: inline-end;
}
.message_1{
    float: left;
    margin-left: 23px;
    margin-right: 11px;
    border-radius: 5px;
}
.message_2{
    font-weight: bold;
    font-size: 12px;
    line-height: 14.4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}
.message_3{  
    font-size: 12px;
    line-height: 14.4px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8D8D8D;
    margin-left: 8px;
}
.message_4{
    margin-top: 2.2px;
    margin-right: 5px;
    font-size: 13px;
    line-height: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.message_5{
    height: 0.5px; 
    background-color: rgba(0, 0, 0, 0.24); 
    margin-top: 10px; 
    float: left;
}
.message_6{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px; 
    line-height: 18px; 
    color: #8D8D8D;  
    float: left; 
    margin-top: 3.7pxpx; 
    margin: 0 7.5px;
}
.style_10{
    color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    margin: 0 0 3.5px 20px;
}
.style_11{
    color: #5F6164;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    margin-left: 21px;
    margin-bottom: 20px;
}
.circle{
    background-color: #E8E8EB;
    width: 22px;
    height: 22px;
    border-radius: 11px;
}
.container_3{
    margin-left: 20.5px;
    float: left;
}
.container_4{
    margin-left: 8px;
    float: left;
}
.form_5{
    float: left;
    height: 24px;
    border-radius: 5px;
    background-color: #3577EF;
    margin-top: 19.5px;
    margin-bottom: 7.5px;
}
.style_12{
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    margin: 7.5px 0 0 41.5px;
    line-height: 16px;
}
.style_13{
    color: #5F6164;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    margin-left: 20.5px;
    line-height: 14px;
}
.style_14{
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin: 2px 0 0 20px;
    line-height: 17px;
}